@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700&display=swap');
:root {
  --primary-color: rgb(20, 5, 73);
  --primary-color-darker: rgb(6, 13, 100);
}

* {
  box-sizing: border-box;
  outline: 0;
  margin: 0;
}

body {
  margin: 0;
  padding: 0;
  background: var(--primary-color);
  font-family: 'Open sans', sans-serif;
  font-size: 1.3em;
  line-height: 1.5em;
}

.container {
  max-width: 640px;
  margin: 50px auto;
  background: #fff;
  padding: 20px;
  border-radius: 10px;
}

form input, form label, form button {
  display: block;
  width: 100%;
  margin-bottom: 10px;
}

form input {
  font-size: 24px;
  height: 50px;
  padding: 0 20px;
}

form input:focus {
  outline: 1px solid var(--primary-color);
}

form button {
  border: none;
  background: var(--primary-color);
  color: #fff;
  font-size: 18px;
  font-weight: 700;
  height: 50px;
  cursor: pointer;
  margin-top: 30px;
}

form button:hover {
  background: var(--primary-color-darker);
}

.paragrafo-resultado, .bad {
  background: rgb(6, 85, 150);
  padding: 10px 20px;
}

.bad {
  background: rgb(255, 150, 150);
}

.div1{
    text-align: center;
}

.div2{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 10px;
    margin-top: 10px;

}

p{
    font-size: 17px;
    font-weight: 800;
}

.paragrafo-resultado{
  background: rgb(37, 207, 108);
  padding: 10px 20px;
}

.bad{
  background: rgb(197, 50, 50);
  padding: 10px 20px;
}